
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    /* width: 100%; */
    /* min-height: 20px; */
    color: rgb(0, 0, 0);
    z-index: 100;
    /* background-color: #880000; */
}

footer div a {
    text-decoration: none;
    color: #151515;
}

footer div {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

footer div a:hover {
    font-weight: 600;
    color: #880000;
}


