RewriteEngine On

# Chỉ chuyển hướng nếu không phải là các tệp hoặc thư mục cụ thể
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?slug=$1 [L,QSA]