body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}
.iframe-container {
    height: calc(100vh - 0px); 
}
.sidebar-color{
    background-color: rgb(122, 39, 0);
}
.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}