 /* Tạo một container với hai cột */
 #container {
    display: flex;
    height: 100vh; /* Chiều cao 100% */
}

/* Cột trái - songs.php */
#left-pane {
    flex: 1;
    border-right: 2px solid #ccc;
}

/* Cột phải - homepage.php */
#right-pane {
    flex: 1;
}

/* Đặt chiều cao cho iframe */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}